
:root {
--basic-lightgrey: #EEEEEE;
--basic-darkgrey:A6A6A6;
--basic-coral: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--basic-white: #ffffff;
--basic-black: #000000;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  display: grid;
  padding-top: 50px; 
  grid-template-columns: min-content 1fr min-content;
}

.container {
  width: 1160px;
  display: block;
  margin: 0 auto;
}

.option-items {
  padding-top: 171px;
  margin: 0 10px;
}

.option-items h3 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.main-header {
  background-color: var(--basic-lightgrey);
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav li {
  display: inline-block;
  margin-right: 45px;
}

.page-slogan {
  background-color: var(--basic-lightgrey);

}

.style {
  background-image: url(img/Slide1.svg);
  background-repeat: no-repeat;
  padding: 80px 0;
  background-position: right center;
}

.basket {
  padding-left: 30px;
  display: inline;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  align-items: center;
  padding-top: 16px;
}

.more-link {
  text-transform: uppercase;
  font-size: 16px;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.slogan {
  font-size: 55px;
  margin: 0;
  width: 50%;
}

.options {
  padding-top: 80px;
}
 
.option-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.option-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.index-columns {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  padding-top: 121px;
  padding-bottom: 126px;
}

.about-us {
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
}

.item-web {
  background-image: url("img/illustration-1.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.item-app {
  background-image: url("img/illustration-2.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.item-presentation {
  background-image: url("img/illustration-3.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.slogan-comment {
  font-size: 16px;
  width: 400px;
}

.site-navigation a {
  color: #000000;
}

.about-slogan {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.features {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.features-columns {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}


.features-percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-percent sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}

.features-percent p {
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.page-headline {
  font-size: 55px;
  line-height: 55px;
}

.gallery {
  display: flex;
  margin-bottom: 126px;
  justify-content: space-between;
}

.contacts {
  position: relative;
  left: -95px;
}

.contacts-block {
  display: block;
  position: absolute;
  left: 140px;
  top: 54px;
  background: white;
  padding: 50px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.offer {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 75px;
}

.social-button-vk:before {
  content: "";
  background-image: url(img/vk.png);
  background-size: cover;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.social-button-fb:before {
  content: "";
  background-image: url(img/fb.png);
  background-size: cover;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.social-button-insta:before {
  content: "";
  background-image: url(img/insta.png);
  background-size: cover;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.footer-social li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 38px;
}

.sorting-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 55px;
}

.sorting-options li {
  display: inline-block;
  padding-left: 25px;
  font-size: 14px;
  line-height: 18px;
}

.sorting-options {
  display: block;
  padding-left: 400px;
  text-transform: uppercase;
  margin-top: -45px;
  margin-bottom: 48px;
}


.solution-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 25px;
}

.catalog-page {
 background-color: var(--basic-lightgrey);
}

.page-headline {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 117px;
}

.catalog-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.catalog-headline {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination {
  padding-left: 0; 
  padding-bottom: 60px;
  padding-top: 54px;
}

.pagination li {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.pagination a {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination .next {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 78px;
  padding-right: 77px;
}

.button-pagination {
  border: 2px solid;
  border-color: var(--basic-lightgrey);
  height: 50px;
  width: 50px;
  background-color: var(--basic-lightgrey);
}

.solution-item-description h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;  
  text-align: center;
  padding-top: 26px;
}

.solution-item-description p{
  color: var(--basic-darkgrey);
  display: block;
  width: 255px;
  height: 37px;
  text-align: center;
  padding-left: 52px;
}

.solution-item-description {
  display: block;
  text-align: center;
  width: 360px;
  height: 231px;
  background-color: var(--basic-lightgrey);
  position: absolute;
  margin-top: -230px;
}

.solution-item button {
  border: 2px solid;
  border-color: var(--basic-coral);
  background-color: var(--basic-coral);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 200px;
  text-align: center;
}

.map-marker {
  display: block;
  position: absolute;
  background-color: transparent;
  margin-left: 640px;
  margin-top: -205px;
}