
:root {
--basic-lightgrey: #EEEEEE;
--basic-darkgrey: #A6A6A6;
--basic-coral: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--basic-white: #ffffff;
--basic-black: #000000;
--basic-darkcoral: #E74246;
--basic-ultradarkcolor: #D7373B;
--basic-darkgreen: #00BC6C;
--basic-ultradarkgreen: #00AA62;
--basic-darkyellow: #EAB534;
--basic-ultradarkyellow: #E5A722;
--basic-mediumgrey: #E1E1E1;
--basik-lightblack: #4D4D4D;
--basic-grey: #C1C1C1;
--basic-modalgrey: #D7DCDE;
--basic-modaldarkgrey: #444444;
--basic-hovergrey: #B4B9BB;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

a {
  text-decoration: none;
}

/*Index*/

/*header*/

.container {
  width: 1160px;
  display: block;
  margin: 0 auto;
}

.logo {
  display: grid;
  padding-top: 65px; 
  grid-template-columns: min-content 1fr min-content;
}

.logo-image:active {
  color: var(--basic-black);
  opacity: 0.1;
}

.site-navigation a:hover,
.basket a:hover {
  color: var(--basic-coral);
}

.site-navigation a:active,
.basket a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation li a:active::after {
  content: "";
  background-image: ("img/coral-line.png");
  display: inline-block;
  position: relative;
  height: 2px;
  width: 83px;
  color: var(--basic-black);
}

.main-header {
  background-color: var(--basic-lightgrey);
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  padding-top: 10px;
  margin-left: -77px;
  margin-bottom: -10px;
}

.site-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main-nav li {
  display: inline-block;
  margin-right: 45px;
}

.slider {
  background-color: var(--basic-lightgrey);
}

.slide-wrapper-1 {
  background-image: url(img/Slide1.svg);
  background-repeat: no-repeat;
  padding: 75px 0;
  margin-left: -40px;
  background-position: right;
}

.slide-wrapper-2 {
  background-image: url(img/slide2.svg);
  background-repeat: no-repeat;
  padding: 75px 0;
  margin-left: -40px;
  background-position: right;
}

.slide-wrapper-3 {
  background-image: url(img/slide3.svg);
  background-repeat: no-repeat;
  padding: 75px 0;
  margin-left: -40px;
  background-position: right;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  display: flex;
  left: 630px;
  top: 448px;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button  {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  width: 18px;
  height: 18px;
  background-color: var(--basic-grey);
  border: 6px solid white;
  border-radius: 50%;
}

.basket {
  position: relative;
  margin-top: 28px;
}

.basket::before { 
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -40px;
  height: 15px;
  width: 15px;
  background-image: url("img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket a {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}

.more-link {
  border: 2px solid;
  width: 240px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 13px;
  padding-right: 52px;
  padding-left: 54px;
  border-color: var(--basic-coral);
  border-radius: 3px;
  background-color: var(--basic-coral);
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  text-align: center; 
  text-transform: uppercase;
}

.more-link:hover {
  background-color: var(--basic-darkcoral);
}

.more-link:active {
  background-color: var(--basic-ultradarkcolor);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.slide-title{
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  width: 50%;
  padding-bottom: 11px;
  margin-top: -15px;
}

.slide-comment { 
  font-size: 16px;
  width: 400px;
  margin-bottom: 55px;
  font-weight: 400;
  line-height: 24px;
}

.slider-list {
  list-style: none;
}

/*Options*/

.option-items {
  padding-top: 173px;
  margin: 0;
}

.option-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 2px;
}

.option-items a {
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 16px;
  height: 50px;
  width: 160px;
}

.option-items p {
  margin-bottom: 49px;
}

.option-text {
  font-size: 16px;
  line-height: 24px;
  margin-top: -31px;
}

.button-red {
  border: 2px solid;
  border-color: var(--basic-coral);
  border-radius: 3px;
  background-color: var(--basic-coral);
  padding-top: 17px;
  padding-bottom: 13px;
  padding-right: 39px;
  padding-left: 39px;
}

.button-red:hover {
  background-color: var(--basic-darkcoral);
}

.button-red:active {
  background-color: var(--basic-ultradarkcolor);
}

.button-green {
  border: 2px solid;
  border-color: var(--basic-green);
  border-radius: 3px;
  background-color: var(--basic-green);
  padding-top: 17px;
  padding-bottom: 13px;
  padding-right: 38px;
  padding-left: 39px;
}

.button-green:hover {
  background-color: var(--basic-darkgreen);
}

.button-green:active {
  background-color: var(--basic-ultradarkgreen);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-yellow {
  border: 2px solid;
  border-color: var(--basic-yellow);
  border-radius: 3px;
  background-color: var(--basic-yellow);
  padding-top: 17px;
  padding-bottom: 13px;
  padding-right: 38px;
  padding-left: 39px;
}

.button-yellow:hover {
  background-color: var(--basic-darkyellow);
}

.button-yellow:active {
  background-color: var(--basic-ultradarkyellow);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.options {
  width: 1107px;
  padding-top: 80px;
}

.options::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1158px;
  background-color: var(--basic-lightgrey);
  margin-top: 112px;
}
 
.option-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 89px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.item-web {
  background-image: url("img/illustration-1.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.item-app {
  background-image: url("img/illustration-2.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

.item-presentation {
  background-image: url("img/illustration-3.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 146px;
}

/*About us*/

.index-columns {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  width: 1174px;
  margin-top: 130px;
  margin-bottom: 75px;
}

.about-us {
  font-size: 45px;
  line-height: 45px;
  font-weight: 800;
  padding-top: 12px;
}

.about-text {
  margin-top: -10px;
  font-size: 16px;
  line-height: 24px;
}

.header-picture img {
  padding-top: 25px;
  padding-left: 18px;
}

.about-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-coral);
  margin-left: -39px;
  margin-top: 9px;
}

.about-list li {
  list-style: none;
  height: 50px;
  margin-left: -3px;
  margin-top: -2px;
}


.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  background-color: transparent;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  top: 38px;
  left: 0;
  background-color: var(--basic-coral);
}

.site-navigation a {
  color: #000000;
}

.about h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 9px;
}

.about {
  padding-top: -30px;
}

.features {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  padding-left: 36px;
  padding-top: 16px;
}

.features-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 30px;
  margin-left: 20px;
}

.features-percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-percent sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}

.features-percent p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-left: 2px;
  margin-top: 10px;
}

.page-headline {
  font-size: 55px;
  line-height: 55px;
}

.gallery li {
  position: relative;
}

.gallery {
  display: flex;
  margin-bottom: 120px;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.gallery li {
  opacity: 0.2;
  margin-left: 32px;
  padding-top: 20px;
}

.gallery li:first-child:after {
  content: "";
  position: absolute;
  height: 52px;
  border-right: 2px solid lightgrey;
  padding-left: 48px;
}

.gallery li:nth-child(2) {
  margin-top: -15px;
  margin-left: 8px;
}

.gallery li:nth-child(2):after {
  content: "";
  position: absolute;
  height: 52px;
  border-right: 2px solid lightgrey;
  padding-left: 44px;
  margin-top: 16px;
}

.gallery li:nth-child(3) {
  padding-right: -20px;
  margin-left: 5px;
}

.gallery li:nth-child(3):after {
  content: "";
  position: absolute;
  height: 52px;
  border-right: 2px solid lightgrey;
  padding-left: 58px;
}

.gallery li:nth-child(4) {
  margin-top: -10px;
  margin-right: 45px;
}
.gallery li:hover {
  opacity: 1;
}

.gallery li:active {
  opacity: 0.1;
}

.gallery::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 1158px;
  background-color: var(--basic-lightgrey);
  margin-top: -46px;

}

.gallery::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1158px;
  background-color: var(--basic-lightgrey);
  margin-top: 133px;
}

.contacts {
  position: relative;
  left: -140px;
}

.contacts-block {
  display: block;
  position: absolute;
  left: 140px;
  top: 54px;
  background: var(--basic-white);
  padding: 40px;
  padding-left: 50px;
  padding-top: 37px;
}

.button-contacts {
  border: 2px solid;
  border-color: var(--basic-coral);
  border-radius: 3px;
  background-color: var(--basic-coral);
  width: 219px;
  height: 50px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 16px;
  cursor: pointer;
  margin-top: 23px;
}

.contacts-block h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-address { 
  font-size: 16px;
  width: 230px;
  color: var(--basic-darkgrey);
}

.contacts-phone{
  color: var(--basic-darkgrey);
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.offer {
  font-weight: 700;
  font-size: 36px;
  padding-top: 30px;
  padding-left: 15px;
}

.offer-text {
  margin-top: -28px;
  padding-left: 13px;
}

.social-button-vk:before {
  content: "";
  background-color: var(--basic-mediumgrey);
  border-radius: 45px;
  background-image: url("img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.social-button-fb:before {
  content: "";
  background-color: var(--basic-mediumgrey);
  border-radius: 45px;
  background-image: url("img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.social-button-insta:before {
  content: "";
  background-color: var(--basic-mediumgrey);
  border-radius: 45px;
  background-image: url("img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 81px;
  width: 81px;
  display: inline-block;
}

.footer-social {
  margin-left: -43px;
}

.footer-social li {
  display: inline-block;
  margin-right: 9px;
  margin-top: 48px;
}

.footer-social a:hover:before {
  background-color: var(--basic-darkcoral);
}

.footer-social a:active:before {
  background-color: var(--basic-ultradarkcolor);
}

.sorting-headline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 55px;
}

.sorting-options li {
  display: inline-block;
  padding-right: 35px;
  margin-left: -13px;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  cursor: pointer;
}

.sorting-options {
  display: block;
  padding-left: 400px;
  text-transform: uppercase;
  margin-top: -45px;
  margin-bottom: 48px;
}

.sorting-options li:hover {
  opacity: 0.6;
}

.sorting-options li:active {
  opacity: 1;
}

.sorting-options::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 11px;
  height: 10px;
  left: 320px;
  background-image: url("img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-options::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 11px;
  height: 10px;
  left: 37px;
  background-image: url("img/icon-up-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.solution-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  padding-top: 44px;
}

.solution-list li{
  margin-bottom: 68px;
}

.catalog-page {
 background-color: var(--basic-lightgrey);
}

.page-headline {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 110px;
}

.catalog-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 19px;
}

.catalog-headline {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination {
  padding-left: 0; 
  padding-bottom: 60px;
  margin-top: -21px;
}

.pagination li {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 4px;
}

.pagination a {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 16px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.pagination .next {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 78px;
  padding-right: 77px;
}

.button-pagination {
  border: 2px solid;
  border-color: var(--basic-lightgrey);
  height: 50px;
  width: 50px;
  background-color: var(--basic-lightgrey);
}

.solution-item {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.solution-item::before {
  content: "";
  position: absolute;
  display: block;  
  background-image: url("img/itemtop.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 40px;
  opacity: 0.12;
  margin-top: -40px;
}

.solution-item:hover::before {
  opacity: 1;
}

.solution-item a:hover + .solution-item-description {
  visibility: visible;
}

.solution-item-description {
  content: "";
  display: block;
  text-align: center;
  width: 360px;
  height: 231px;
  background-color: var(--basic-lightgrey);
  position: absolute;
  margin-top: -230px;
  visibility: hidden;
}

.solution-item-description h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;  
  text-align: center;
  padding-top: 26px;
}

.solution-item-description p{
  color: var(--basic-darkgrey);
  display: block;
  width: 255px;
  height: 37px;
  text-align: center;
  padding-left: 52px;
}

.solution-item button {
  border: 2px solid;
  border-color: var(--basic-coral);
  border-radius: 3px;
  background-color: var(--basic-coral);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 200px;
  text-align: center;
}

.contacts:before { 
  content: "";
  background-image: url("img/map-marker.png");
  display: block;
  background-size: cover;
  position: absolute;
  width: 231px;
  height: 190px;
  top: 86px;
  right: 106px;
}

.main-filters {
  margin-top: 58px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.selection-list input {
  display: none;
}

.selection-list label {
  padding-left: 36px;
  position: relative;
}

.selection-list ul li {
  margin-bottom: 20px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.selection-list {
  border: none;
  margin: 0;
  padding: 0;
}

.selection-list legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 54px;
}

.selection-list ul {
  list-style: none;
  padding-left: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 4px solid #4D4D4D;
  border-radius: 50%;
  box-sizing: border-box;
  left: 0;
  opacity: 0.4;
  cursor: pointer;
}

.filter-input-radio + label:hover::before {
  opacity: 1;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 11px;
  height: 11px;
  left: 7px;
  background-color: #4D4D4D;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label:hover::after {
  opacity: 1;
}

.checkbox-list label {
  padding-left: 36px;
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid #4D4D4D;
  box-sizing: border-box;
  border-radius: 10%;
  left: 0;
  opacity: 0.4;
  cursor: pointer;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 23px;
  background-image: url("img/checkbox.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label:hover::after {
  opacity: 1;
}

.checkbox-list input {
  display: none;
  left: 0;
}

.filter-input-checkbox:hover{
  opacity: 1;
}

.checkbox-list ul li {
  padding-bottom: 22px;
}

.checkbox-list {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: -18px;
}
  
.checkbox-list ul {
  list-style: none;
  padding-left: 0;
}

.checkbox-list legend {
  padding-top: 43px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.main-filters button {
  margin-top: 10px;
  height: 50px;
  width: 260px;
  text-align: center;
  background-color: var(--basic-lightgrey);
  border: none;
  font-size: 16px;
  line-height: 18px;  
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  cursor: pointer;
}

.modal-contacts {
  display: block;
  position: absolute;  
  top: 1706px;
  left: 240px;
  width: 960px;
  height: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-contacts h3 {
  margin-top: 63px;
  padding-left: 100px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-container {
  display: flex;
  justify-content: space-between;
  width: 761px;
  padding-left: 100px;
}

.modal-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.name-user {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-modalgrey);
  border-radius: 3px;
}

.name-user [placeholder="Имя Фамилия"] {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-modaldarkgrey);
  margin-left: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.login-user {
  width: 360px;
  height: 50px;
  border: 2px solid var(--basic-modalgrey);
  border-radius: 3px;
}

.login-user [placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-modaldarkgrey);
  margin-left: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.text-container {
  padding-left: 100px;
}

.user-text {
  width: 760px;
  height: 118px;
  border: 2px solid var(--basic-modalgrey);
  border-radius: 3px;
}

.user-text [placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-modaldarkgrey);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.name-user:hover,
.login-user:hover,
.user-text:hover {
  border: 2px solid var(--basic-hovergrey);
}

.name-user:focus,
.login-user:focus,
.user-text:focus {
  border: 2px solid var(--basic-black);
}

.name-user [placeholder="Имя Фамилия"]:focus,
.login-user [placeholder]:focus,
.user-text [placeholder]:focus {
  color: var(--basic-black);
}

.modal-button {
  width: 259px;
  height: 50px;
  margin-left: 100px;
  margin-top: 47px;
  margin-bottom: 84px;
  background-color: var(--basic-coral);
  border: 1px solid var(--basic-coral);
  border-radius: 3px;
  cursor: pointer;
  color: var(--basic-white);
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  top: 85px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-coral);
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}