
:root {
--basic-lightgrey: #EEEEEE;
--basic-coral: #FB565A;
--basic-green: #00CA74;
--basic-yellow: #EFC849;
--basic-white: #ffffff;
--basic-black: #000000;
}

body{
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
}
.main-header {
  background-color: var(--basic-lightgrey);
  font-family: 'Roboto', Arial, sans-serif;
}

.site-navigation {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px

}

.basket-link {
  text-transform: uppercase;
  font-size: 16px;
}

.more-link {
  text-transform: uppercase;
  font-size: 16px;
}

.slogan {
  font-size: 55px;
}

.slogan-comment {
  font-size: 16px;
}

.site-navigation a {
  color: #000000;
}

.big-numbers {
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.big-numbers sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold;
}
